@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Raleway:ital,wght@0,300..800;1,300..800&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #1a1a1a;
  --color-accent: #ac7f49;
  --color-accent-soft: #d8ba98;
  --color-accent-dark: #8d683c;
  --color-dark: #000000;
  --color-darker: #000000;
  --color-lighter: #d4d4d4;
  --color-lightest: #ffffff;
  --color-tripadvisor: #00aa6c;
  --color-tripadvisor-dark: #002107;
  --color-border: #dcdcdc;
  --color-text: #111111;
  --color-text-muted: #4d4d4d;

  --font-display: "Cormorant Garamond", serif;
  --font-body: "Raleway", sans-serif;
}

body {
  font-family: var(--font-body);
  color: var(--color-text);
}
